:root {
  --red: #e8414f;
  --red-lite: #eb616c;
  --red-lite2: #ff5c69;
  --red-lite3:#ffc8c8;
  --red-middle: #db3a3f;
  --wight: #ffffff;
  --blue: #0053ff;
  --yellow: #d89f34;
  --black: #000000;
  --grey1: #333333;
  --grey2: #2a2a2a;
  --grey3: #3b3b3b;
  --grey4: #dedede;
  --grey5: #a6a6a6;
  --grey6: #292929;
  --grey7: #242424;
  --grey8: #676767;
  --grey9: #434343;
  --grey10: #9f9f9f;
  --grey11: #969696;
  --grey12: #383838;
  --grey13: #fdfdfd;
}

@font-face {
  src: url("../fonts/GothamProReg.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Arkhip.woff2") format("woff2");
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::after, *::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  position: relative;
  font-family: GothamPro, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:focus,
button:hover,
button:active {
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.reset-btn {
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.liststyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1166px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--wight);
  width: 100%;
  box-shadow: 0px 13px 14px 0px rgba(51, 51, 51, 0.15);
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.6875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  z-index: 100;
  color: var(--grey7);
}

.header__logo i {
  font-weight: 700;
  color: var(--red);
}

.header-nav__item:not(:last-child) {
  margin-right: 24px;
}

.header-nav__link {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey1);
}

.header-nav__link::after {
  content: attr(title);
  position: absolute;
  left: 0;
  font-weight: 700;
  opacity: 0;
}

.header-nav__link:hover {
  color: var(--wight);
  transition: color 0.3s ease-in;
}

.header-nav__link:hover::after {
  opacity: 1;
  color: var(--grey1);
  letter-spacing: 0.19px;
  transition: opacity 0.3s ease-in;
}

.language__link {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: var(--grey4);
  transition: color 0.3s ease-in;
}

.language__link:hover {
  color: var(--grey2);
  transition: color 0.3s ease-in;
}

.language__link--ua::after {
  content: '';
  position: absolute;
  left: 1.625rem;
  top: 8px;
  width: 1.0625rem;
  height: 2px;
  background-color: var(--grey4);
  transform: rotate(117deg);
}

.language__link--ru::after {
  content: '';
  position: absolute;
  left: 1.625rem;
  top: 8px;
  width: 1.0625rem;
  height: 2px;
  background-color: var(--grey4);
  transform: rotate(117deg);
}

.language__link--ru.active {
  color: var(--grey6);
}

.language__ua {
  margin-right: 0.625rem;
}

.language__ru {
  margin-right: 0.625rem;
}

.menu__name {
  display: inline-block;
  margin-right: -68px;
  margin-bottom: 5px;
  font-size: 1.1875rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: var(--black);
}

.menu__burger {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  z-index: 100;
}

.menu__burger span {
  position: absolute;
  display: block;
  left: 0;
  top: 63%;
  width: 40px;
  height: 3px;
  background-color: var(--grey2);
}

.menu__burger span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 30px;
  height: 3px;
  background-color: var(--grey2);
  transition: transform 0.3s ease-out;
}

.menu__burger span::after {
  content: '';
  position: absolute;
  left: 10px;
  top: -9px;
  width: 30px;
  height: 3px;
  background-color: var(--grey2);
  transition: transform 0.3s ease-out;
}

.menu__burger:hover span::before {
  transform: rotate(45deg);
  top: 0;
  left: 6px;
  background-color: var(--red);
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.menu__burger:hover span::after {
  transform: rotate(-45deg);
  top: 0;
  left: 6px;
  background-color: var(--red);
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.menu__burger:hover span {
  background-color: var(--wightr);
}

.hero {
  position: relative;
  width: 100vw;
  height: 100%;
}

.hero__background {
  position: absolute;
  left: calc(((100vw - 1166px) / 3) + 13px);
  top: calc(19% + -22px);
  width: calc(14% + 373px);
}

.hero__background--osc1 {
  position: absolute;
  left: calc(((100vw - 1166px) / 2.3) + 351px);
  top: calc(149% - 491px);
  width: calc(4% + 75px);
}

.hero__background--osc2 {
  position: absolute;
  left: calc(((100vw - 1166px) / 3.3) + 12px);
  top: calc(147% - 553px);
  width: calc(4% + 85px);
}

.hero__background--osc3 {
  position: absolute;
  left: calc(((100vw - 1166px) / 2.1) + 371px);
  top: calc(61% - 235px);
  width: calc(2% + 34px);
}

.hero__background--osc4 {
  position: absolute;
  left: calc(((100vw - 1166px) / 3.2) + 49px);
  top: calc(41% - 54px);
  width: calc(3% + 3px);
}

.hero__container {
  padding-top: calc(6% + 82px);
  padding-left: calc(9% + 383px);
  padding-bottom: 97px;
}

.hero__text {
  flex-direction: column;
}

.hero__heading {
  flex-direction: column;
  align-items: left;
  margin-bottom: 1.6875rem;
}

.hero__heading span {
  font-size: 4.125rem;
  font-weight: 500;
  letter-spacing: 6px;
}

.hero__title {
  font-size: 2.625rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: var(--grey2);
}

.hero__title--addition {
  margin-bottom: 1.9375rem;
  width: 91%;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: none;
  color: var(--red);
}

.hero__definition {
  display: block;
  margin-bottom: 3.4375rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #3b3b3b;
}

.hero__definition span {
  color: var(--red);
}

.hero__btn-group {
  margin-bottom: 1.25rem;
}

.hero__btn--sentence {
  margin-right: 31px;
  margin-left: -4px;
  width: 350px;
  height: 69px;
  background-color: var(--red);
  box-shadow: 0px 13px 14px 0px rgba(221, 32, 47, 0.15);
  border-radius: 20px 35px;
  font-size: 1.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: var(--wight);
  transition: background-color .3s ease-out;
}

.hero__btn--sentence:hover {
  background-color: #e77b83;
  box-shadow: 0px 13px 14px 0px rgba(221, 32, 47, 0.15);
  transition: background-color .3s ease-out;
}

.hero__btn--portfolio {
  width: 211px;
  height: 69px;
  background-color: var(--grey1);
  box-shadow: 0 13px 14px 0 rgba(51, 51, 51, 0.15);
  border-radius: 20px 35px;
  font-size: 1.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: var(--wight);
  transition: background-color .3s ease-out;
}

.hero__btn--portfolio:hover {
  background-color: #463f3f;
  box-shadow: 0px 13px 14px 0px rgba(51, 51, 51, 0.15);
  transition: background-color .3s ease-out;
}

.hero__present {
  position: relative;
  display: inline-block;
  margin-left: 18px;
  width: 340px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--grey5);
}

.hero__present span {
  content: '*';
  position: absolute;
  display: inline-block;
  left: -17px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--grey5);
}

.about-us__container {
  position: relative;
  padding-top: 73px;
  padding-bottom: 330px;
}

.about-us__title-block {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.about-us__title-block span {
  left: -63px;
  top: -21px;
  position: absolute;
  opacity: 0.1;
  font-family: 'GothamPro';
  font-size: 5.75rem;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--grey6);
}

.about-us__title {
  position: relative;
  margin-bottom: 7px;
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
  font-size: 3.875rem;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey6);
}

.about-us__title {
  letter-spacing: 0.5px;
}

.about-us__link {
  position: relative;
  font-size: 1.3rem;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 1.3px;
  color: var(--grey8);
}

.about-us__link::after {
  content: "";
  position: absolute;
  width: 141px;
  height: 2px;
  left: -167px;
  bottom: 27px;
  background-color: var(--black);
}

.about-us__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 2px;
  background-color: var(--grey8);
  transition: width 0.3s ease-in;
}

.about-us__link:hover::before {
  width: 325px;
  transition: width .3s ease-in;
}

.about-us__description {
  font-size: 1.1875rem;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: var(--grey6);
}

.about-us__artboard {
  width: 86%;
  height: 87%;
  margin-left: 85px;
}

.about-us__artboard .cls-1, .about-us__artboard .cls-2 {
  fill: #dd202f;
}

.about-us__artboard .cls-1 {
  opacity: 0.2;
}

.about-us__artboard .cls-2 {
  opacity: 0.3;
}

.about-us__artboard .cls-3 {
  fill: #e8414f;
}

.about-us__artboard .cls-4 {
  fill: #333;
}

.about-us__artboard .cls-4 {
  stroke: #000;
  stroke-width: 1px;
  fill-rule: evenodd;
}

.about-us__artboard .cls-5 {
  fill: #fff;
}

.description1 {
  display: block;
  width: 494px;
  margin-bottom: 37px;
}

.about-us__description--right {
  position: absolute;
  right: 32px;
  width: 550px;
}

.description2 {
  margin-bottom: 28px;
}

.services__container {
  padding-bottom: 113px;
}

.services__title-block {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.services__title-block span {
  left: -57px;
  top: -10px;
  position: absolute;
  opacity: 0.1;
  font-family: 'GothamPro';
  font-size: 5.75rem;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--grey6);
}

.services__title {
  position: relative;
  margin-bottom: 7px;
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
  font-size: 3.875rem;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey6);
}

.servicec__link {
  position: relative;
  font-size: 1.3rem;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 1.3px;
  color: var(--grey8);
}

.servicec__link::after {
  content: "";
  position: absolute;
  width: 309px;
  height: 2px;
  left: -335px;
  bottom: 27px;
  background-color: var(--black);
}

.servicec__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 2px;
  background-color: var(--grey8);
  transition: width 0.3s ease-out;
}

.servicec__link:hover::before {
  width: 329px;
  transition: width .3s ease-out;
}

.services__description {
  margin-bottom: 36px;
  width: 545px;
  font-size: 1.3125rem;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey6);
}

.services__cards {
  margin-left: 5px;
  display: grid;
  grid-gap: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services__card {
  padding: 32px 24px 30px 36px;
  width: 358px;
  height: 195px;
  background-color: var(--wight);
  color: var(--grey6);
  box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px 60px;
  transition: transform 0.3s ease-out;
}

.services__card:hover {
  background-color: var(--red);
  box-shadow: 0px 13px 14px 0px rgba(221, 32, 47, 0.3);
  color: var(--wight);
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.services__card:hover .card__link--block svg {
  fill: #ffffff;
}

.card__title {
  margin-bottom: 14px;
  font-size: 1.3125rem;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card__description {
  margin-bottom: 6px;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.card__link--block {
  max-height: 21px;
  align-items: center;
}

.card__link--svg {
  margin-right: 70px;
  fill: #292929;
  fill-rule: evenodd;
}

.card__link {
  position: relative;
  margin-right: 7px;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.card__link:hover + svg {
  transform: translateX(10px);
  transition: transform 0.3s ease-out 0.3s;
}

.card__link::after {
  content: attr(title);
  position: absolute;
  left: 0;
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0;
}

.card__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--wight);
  transition: width 0.3s ease-out;
}

.card__link:hover {
  color: var(--red);
  transition: color 0.3s ease-out;
}

.card__link:hover::after {
  opacity: 1;
  color: var(--wight);
  letter-spacing: 0.9px;
  transition: opacity 0.3s ease-out;
}

.card__link:hover::before {
  width: 122px;
  transition: width .3s ease-out;
}

.card__price {
  font-size: 0.875rem;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 1px;
}

.portfolio__title-block {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.portfolio__title-block span {
  left: -57px;
  top: -21px;
  position: absolute;
  opacity: 0.1;
  font-family: 'GothamPro';
  font-size: 5.75rem;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--grey6);
}

.portfolio__title {
  position: relative;
  margin-bottom: 7px;
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
  font-size: 3.875rem;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey6);
}

.portfolio__title--link {
  position: relative;
  margin-right: 46px;
  font-size: 1.3rem;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 1.3px;
  color: var(--grey8);
}

.portfolio__title--link::after {
  content: "";
  position: absolute;
  width: 241px;
  height: 2px;
  left: -260px;
  bottom: 27px;
  background-color: var(--black);
}

.portfolio__title--link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 2px;
  background-color: var(--grey8);
  transition: width 0.3s ease-in;
}

.portfolio__title--link:hover::before {
  width: 260px;
  transition: width .3s ease-in;
}

.portfolio__description {
  margin-bottom: 26px;
  font-size: 1.3125rem;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey6);
}

.portfolio__tab {
  margin-bottom: 31px;
}

.portfolio__item:not(:last-child) {
  margin-right: 23px;
}

.portfolio__link {
  width: 148px;
  height: 40px;
  box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--grey10);
  transition: all 0.3s ease-in-out;
}

.portfolio__link:hover {
  background-color: var(--red-lite3);
  box-shadow: 0px 7px 14px 0px rgba(221, 32, 47, 0.1);
  color: var(--grey6);
  transition: all 0.3s ease-in-out;
}

.portfolio__link:active, .portfolio__link:focus {
  background-color: var(--red);
  box-shadow: 0px 10px 14px 0px rgba(221, 32, 47, 0.15);
  color: var(--wight);
  transition: all 0.3s ease-in-out;
}

.portfolio__block {
  margin-bottom: 77px;
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.block-right {
  justify-content: space-between;
}

.block-left {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 26px;
}

.block__foto--wrap {
  width: 52%;
}

.block__text--right,
.block__text--left {
  width: 45%;
}

.block__foto img {
  min-height: 350px;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.block__title {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 2.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  color: var(--grey2);
  transition: color 0.3s ease-out;
}

.block__title:hover {
  color: var(--blue);
  transition: color 0.3s ease-out;
}

.block__title--left:hover {
  color: var(--yellow);
  transition: color 0.3s ease-out;
}

.block__sub {
  display: inline-block;
  margin-bottom: 32px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey11);
}

.block__heading {
  flex-direction: column;
  margin-top: 7px;
}

.block__list {
  margin-bottom: 80px;
}

.block__list-title {
  margin-bottom: 14px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--grey12);
}

.block__item {
  position: relative;
  margin-left: 30px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey6);
  align-items: center;
}

.block__item:not(:last-child) {
  margin-bottom: 9px;
}

.block__ellipse {
  position: relative;
  margin-right: 8px;
  margin-left: -27px;
  align-items: center;
}

.block__ellipse img {
  min-width: 20px;
}

.block__ellipse span {
  position: absolute;
  top: 50%;
  right: 50%;
  font-weight: 500;
  transform: translate(50%, -50%);
  color: var(--wight);
}

.block__link--case {
  align-items: center;
}

.block__link {
  position: relative;
  margin-right: 7px;
  margin-left: 6px;
  font-size: 1.125rem;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--grey6);
}

.block__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.2s ease-in;
}

.block__link:hover + svg {
  transform: translateX(10px);
  transition: transform 0.3s ease-out 0.3s;
}

.block__link:hover::before {
  width: 114px;
}

.block__link--svg {
  width: 26px;
}

.working__container {
  padding-top: 18px;
  padding-bottom: 9px;
}

.working__title-block {
  position: relative;
}

.working__title-block span {
  left: -57px;
  top: -18px;
  position: absolute;
  opacity: 0.1;
  font-family: 'GothamPro';
  font-size: 5.75rem;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--grey6);
}

.working__title {
  position: relative;
  margin-bottom: 7px;
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
  font-size: 3.875rem;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey6);
}

.working__description {
  width: 590px;
  font-size: 1.3125rem;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey6);
}

.working__content {
  justify-content: space-between;
}

.working__chat {
  display: flex;
  flex-direction: column;
  padding-top: 77px;
  width: 45%;
}

.working__message {
  margin-bottom: 18px;
  height: 50px;
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 400;
}

.message--wight {
  width: 33%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px 25px 25px 5px;
  background-color: rgba(41, 41, 41, 0.2);
  color: #292929;
}

.message--red {
  width: 56%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px 25px 5px 25px;
  background-color: var(--red);
  color: var(--wight);
}

.message--red-2 {
  align-self: flex-end;
}

.message--wight-3 {
  width: 49%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message--wight-4 {
  width: 42%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message--red-5 {
  align-self: flex-end;
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 88px;
  border-radius: 40px 40px 5px 40px;
}

.message--red-6 {
  align-self: flex-end;
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message--wight-7 {
  width: 79%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message--red-8 {
  align-self: flex-end;
  width: 44%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.working__answers {
  padding-top: 88px;
  width: 48%;
}

.accordeon__section {
  width: 100%;
  margin-bottom: 27px;
}

.accordeon__title {
  position: relative;
  padding-left: 19px;
  width: 100%;
  height: 60px;
  background-color: var(--wight);
  box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.375rem;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -1.1px;
  color: var(--grey6);
  cursor: pointer;
  border: none;
  text-align: left;
}

.accordeon__title:hover {
  color: var(--red);
}

.accordeon__title i {
  position: absolute;
  right: 25px;
  top: 39%;
  font-size: 1.125rem;
}

.accordeon__content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--red);
  box-shadow: 0px 11px 13px 0px rgba(147, 24, 34, 0.15);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.5s ease-in-out;
}

.accordeon__content p {
  padding-left: 53px;
  padding-bottom: 20px;
  width: 92%;
  font-size: 1rem;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--wight);
}

.accordeon__section.active .accordeon__title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--red);
  box-shadow: 0px 11px 13px 0px rgba(147, 24, 34, 0.15);
  color: var(--wight);
}

.blog__container {
  padding-top: 50px;
  padding-bottom: 53px;
}

.blog__title {
  position: relative;
  margin-bottom: 7px;
  font-family: 'Arkhip';
  font-weight: 400;
  font-style: normal;
  font-size: 3.875rem;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey6);
}

.blog__title span {
  left: -57px;
  top: -17px;
  position: absolute;
  opacity: 0.1;
  font-family: 'GothamPro';
  font-size: 5.75rem;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--grey6);
}

.blog__description {
  margin-bottom: 42px;
  width: 635px;
  font-size: 1.3125rem;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey6);
}

.blog__articles {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  width: 66%;
}

.blog__articl--up {
  margin-bottom: 25px;
}

.blog__item {
  flex-direction: column;
  justify-content: flex-start;
}

.articl__foto--wrap {
  position: relative;
  display: flex;
  margin-bottom: 7px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

.articl-item1 {
  margin-right: 20px;
  max-width: 52%;
}

.articl__foto--1 img {
  width: 445px;
  -o-object-fit: cover;
  object-fit: cover;
}

.articl-item2 {
  max-width: 46%;
}

.articl__foto--2 img {
  width: 395px;
  -o-object-fit: cover;
  object-fit: cover;
}

.articl-item3 {
  max-width: 100%;
}

.articl__foto--3 {
  border-radius: 20px;
}

.articl__foto--3 img {
  width: 853px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.articl__title {
  margin-bottom: 16px;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: var(--grey6);
  transition: color 0.3s ease-in-out;
}

.articl__title:hover {
  color: var(--red-lite2);
  transition: color 0.3s ease-in-out;
}

.articl__description {
  margin-bottom: 3px;
  font-size: 0.875rem;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--grey6);
  font-weight: 400;
  text-transform: none;
}

.articl__counter--block {
  align-items: center;
}

.articl__eye {
  display: inline-block;
  margin-right: 6px;
}

.articl__counter {
  position: relative;
  font-size: 0.75rem;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--grey6);
}

.top__title {
  position: relative;
  margin-bottom: 11px;
  margin-top: -5px;
  font-size: 1.5rem;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--grey6);
}

.top__title::before {
  content: "";
  position: absolute;
  left: 42px;
  bottom: 0;
  width: 241px;
  height: 3px;
  background-color: var(--black);
}

.top__list {
  margin-left: 46px;
  max-width: 290px;
}

.top__item {
  position: relative;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: var(--grey6);
  transition: color 0.3s ease-in-out;
}

.top__item:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.top__item::after {
  content: "1";
  position: absolute;
  left: -43px;
  top: -20px;
  font-size: 3rem;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--grey6);
}

.top__item--2::after {
  content: "2";
}

.top__item--3::after {
  content: "3";
}

.top__item--4::after {
  content: "4";
}

.top__item--5::after {
  content: "5";
}

.top__item--6::after {
  content: "6";
}

.top__item--7::after {
  content: "7";
}

.top__item--8::after {
  content: "8";
}

.top__link {
  transition: color 0.3s ease-in-out;
}

.top__link:hover {
  color: var(--red-lite2);
  transition: color 0.3s ease-in-out;
}

.footer__bacg--up {
  width: 100vw;
  background-color: var(--red-middle);
  padding-bottom: 37px;
  padding-top: 47px;
}

.footer__title {
  margin-bottom: 27px;
  width: 626px;
  font-size: 2.25rem;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: var(--wight);
}

.footer__title span {
  font-weight: 700;
}

.footer__content {
  margin-bottom: 40px;
  align-items: center;
}

.footer__btn {
  margin-right: 138px;
  width: 239px;
  height: 58px;
  border: 2px solid var(--wight);
  border-radius: 30px;
  font-size: 1.3125rem;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--wight);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__btn:hover {
  color: #db3a3f;
  background-color: white;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__mail,
.footer__tel {
  font-size: 1.3125rem;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: var(--wight);
}

.footer__mail {
  position: relative;
  margin-right: 76px;
  font-weight: 500;
}

.footer__mail::before {
  content: url(/img/mail.png);
  position: absolute;
  left: -46px;
  top: 2px;
}

.footer__mail:hover {
  font-weight: 700;
  letter-spacing: 0.64px;
}

.footer__tel {
  position: relative;
  margin-right: 53px;
  font-weight: 500;
}

.footer__tel::before {
  content: url(/img/phone.png);
  position: absolute;
  left: -41px;
  top: -6px;
}

.footer__tel:hover {
  font-weight: 700;
  letter-spacing: 0.7px;
}

.footer__soc {
  margin-top: -9px;
}

.footer__be {
  display: block;
  position: relative;
  margin-right: 14px;
  width: 42px;
  height: 42px;
  border-radius: 1.35rem;
  border: 1px solid var(--grey13);
  color: var(--wight);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__be span {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  transform: translate(50%, -50%);
}

.footer__be:hover {
  color: #db3a3f;
  background-color: white;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__li {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 1.35rem;
  border: 1px solid var(--grey13);
  color: var(--wight);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__li span {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  transform: translate(50%, -50%);
}

.footer__li:hover {
  color: #db3a3f;
  background-color: white;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__bacg--down {
  padding-bottom: 38px;
  padding-top: 58px;
}

.footer__down {
  align-items: center;
}

.footer__logo {
  margin-right: 138px;
  font-size: 3.00625rem;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--grey7);
}

.footer__logo i {
  color: var(--red-middle);
}

.footer__nav--item:not(:last-child) {
  margin-right: 65px;
}

.footer__nav--link {
  position: relative;
  font-size: 1.3125rem;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey1);
}

.footer__nav--link::after {
  content: attr(title);
  position: absolute;
  left: 0;
  font-weight: 700;
  opacity: 0;
}

.footer__nav--link:hover {
  color: var(--wight);
  transition: color 0.3s ease-in;
}

.footer__nav--link:hover::after {
  opacity: 1;
  color: var(--grey1);
  letter-spacing: 0.19px;
  transition: opacity 0.3s ease-in;
}

.menu__toggle {
  position: fixed;
  right: -150vw;
  top: 0;
  z-index: 15;
  overflow-y: scroll;
  padding-top: 25px;
  padding-left: calc((100% - 1196px)/2 + 32px);
  padding-right: calc((100% - 1196px)/2 + 32px);
  width: 100%;
  height: 100vh;
  background-color: var(--wight);
  transition: right 0.5s ease-out;
}

.menu__toggle.menu--showed {
  right: 0;
  transition: right 0.5s ease-out;
}

.toggle-nav__list {
  flex-direction: column;
}

.toggle-nav {
  justify-content: flex-end;
  margin-bottom: 107px;
  margin-right: 30px;
}

.toggle-nav__link {
  font-size: 3.125rem;
  line-height: 80px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: var(--grey7);
  transition: color 0.3s ease-out;
}

.toggle-nav__link:hover {
  color: var(--red);
  transition: color 0.3s ease-out;
}

.toggle__footer {
  justify-content: space-around;
}

.toggle__address-link {
  position: relative;
  flex-direction: column;
}

.toggle__mail,
.toggle__tel {
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--grey8);
}

.toggle__soc-item:not(:last-child) {
  margin-right: 17px;
}

.toggle__soc-link {
  position: relative;
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--grey7);
}

.toggle__soc-link::after {
  content: attr(title);
  position: absolute;
  left: 0;
  font-weight: 500;
  opacity: 0;
  letter-spacing: 0.3px !important;
}

.toggle__soc-link:hover {
  color: var(--wight);
  transition: color 0.3s ease-out;
}

.toggle__soc-link:hover::after {
  opacity: 1;
  color: var(--red-lite);
  letter-spacing: 0.19px;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 1270px) {
  .container {
    max-width: 1050px;
  }
  .menu__name {
    margin-right: -38px;
  }
  .about-us__link::after {
    width: 11%;
    left: -55px;
  }
  .about-us__title-block span {
    left: -25px;
  }
  .servicec__link::after {
    width: 70%;
    left: -255px;
  }
  .services__title-block span {
    left: -22px;
  }
  .portfolio__title--link::after {
    width: 50%;
    left: -162px;
  }
  .portfolio__title-block span {
    left: -25px;
  }
  .working__title-block span {
    left: -25px;
  }
  .block__list {
    margin-bottom: 45px;
  }
  .block__foto img {
    min-height: 310px;
  }
}

@media (max-width: 1070px) {
  .container {
    max-width: 900px;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 0;
  }
  .header-nav {
    margin-right: 0;
  }
  .menu__name {
    margin-right: -16px;
  }
  .hero__background {
    position: absolute;
    left: calc(((100vw - 1166px) / 3) + 62px);
    top: calc(19% + -22px);
    width: calc(14% + 373px);
  }
  .hero__background--osc1 {
    left: calc(((100vw - 1166px) / 2.3) + 436px);
    top: calc(149% - 560px);
    width: calc(4% + 60px);
  }
  .hero__background--osc2 {
    left: calc(((100vw - 1166px) / 3.3) + 74px);
    top: calc(147% - 602px);
    width: calc(4% + 73px);
  }
  .hero__background--osc3 {
    left: calc(((100vw - 1166px) / 2.1) + 461px);
    top: calc(61% - 250px);
    width: calc(2% + 34px);
  }
  .hero__background--osc4 {
    left: calc(((100vw - 1166px) / 3.2) + 95px);
    top: calc(41% - 108px);
    width: calc(3% + 3px);
  }
  .hero__title {
    font-size: 2.25rem;
  }
  .hero__title span {
    font-size: 3.75rem;
  }
  .hero__definition {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
  .hero__btn--sentence {
    margin-bottom: 15px;
    height: 59px;
  }
  .hero__btn--portfolio {
    width: 350px;
    height: 59px;
  }
  .hero__present {
    margin-bottom: 15px;
  }
  .about-us__container {
    padding-top: 19px;
  }
  .about-us__title-block {
    flex-direction: column;
  }
  .about-us__title-block span {
    left: 76px;
  }
  .about-us__link {
    margin-bottom: 20px;
  }
  .about-us__link::after {
    display: none;
  }
  .description1 {
    display: block;
    width: 400px;
  }
  .about-us__description--right {
    width: 411px;
  }
  .servicec__link::after {
    width: 56%;
    left: -202px;
  }
  .services__container {
    display: flex;
    flex-direction: column;
  }
  .h2title {
    margin-left: 20px;
  }
  .services__description {
    width: 444px;
  }
  .card__link {
    width: 114px;
  }
  .card__link:hover::before {
    width: 107px;
  }
  .portfolio__container {
    display: flex;
    flex-direction: column;
  }
  .portfolio__title--block {
    flex-direction: column;
    align-items: center;
  }
  .portfolio__title span {
    left: 59px;
  }
  .portfolio__title--link::after {
    display: none;
  }
  .block__foto img {
    min-height: 293px;
  }
  .portfolio__block {
    padding-bottom: 20px;
  }
  .block__link:hover::before {
    width: 101px;
  }
  .working__container {
    display: flex;
    flex-direction: column;
  }
  .working__title {
    margin-bottom: 30px;
  }
  .working__title span {
    left: 61px;
  }
  .working__description {
    width: 395px;
  }
  .working__answers {
    padding-top: 50px;
  }
  .blog__title span {
    left: -32px;
  }
  .blog__description {
    width: 438px;
  }
  .blog__articles {
    margin-bottom: 28px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__title {
    margin-bottom: 50px;
    text-align: center;
  }
  .footer__btn {
    margin-right: 0;
    margin-bottom: 39px;
  }
  .footer__mail {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer__tel {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer__logo {
    margin-right: 127px;
  }
  .footer__nav--item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }
  html {
    font-size: 13px;
  }
  .menu__name {
    margin-right: 5px;
  }
  .menu__burger span {
    width: 35px;
    height: 2px;
  }
  .menu__burger span::after {
    top: -8px;
    width: 25px;
    height: 2px;
  }
  .menu__burger span::before {
    top: 8px;
    width: 25px;
    height: 2px;
  }
  .hero__container {
    padding-left: calc(9% + 339px);
  }
  .hero__background {
    left: calc(((100vw - 1166px) / 3) + 103px);
  }
  .hero__background--osc1 {
    left: calc(((100vw - 1166px) / 2.3) + 451px);
    top: calc(149% - 475px);
    width: calc(4% + 55px);
  }
  .hero__background--osc2 {
    left: calc(((100vw - 1166px) / 3.3) + 124px);
    top: calc(147% - 516px);
    width: calc(4% + 65px);
  }
  .hero__background--osc3 {
    left: calc(((100vw - 1166px) / 2.1) + 507px);
    top: calc(61% - 226px);
    width: calc(2% + 30px);
  }
  .hero__background--osc4 {
    left: calc(((100vw - 1166px) / 3.2) + 138px);
    top: calc(41% - 70px);
    width: calc(3% - 1px);
  }
  .hero__btn--sentence {
    width: 300px;
  }
  .hero__btn--portfolio {
    width: 300px;
  }
  .about-us__title-block {
    flex-direction: column;
  }
  .about-us__title-block span {
    left: 79px;
  }
  .about-us__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-us__link:hover::before {
    width: 288px;
  }
  .servicec__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .servicec__link:hover::before {
    width: 288px;
  }
  .servicec__link::after {
    width: 49%;
    left: -164px;
  }
  .services__cards {
    grid-gap: 20px;
  }
  .services__card {
    width: 330px;
    height: 180px;
  }
  .card__link:hover::before {
    width: 99px;
  }
  .portfolio__title--link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .portfolio__title--link:hover::before {
    width: 228px;
  }
  .portfolio__title--link::after {
    display: none;
  }
  .portfolio__tab {
    margin-bottom: 60px;
  }
  .portfolio__block {
    padding-bottom: 0;
  }
  .top__title::before {
    left: 10px;
  }
  .footer__bacg--down {
    display: none;
  }
  .footer__title {
    width: 100%;
  }
  .toggle__soc-list {
    flex-direction: column;
  }
  .toggle-nav__link {
    line-height: 60px;
  }
  .toggle-nav {
    margin-bottom: 80px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 425px;
  }
  .header__container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header__nav {
    display: none;
  }
  .header__language {
    display: none;
  }
  .menu__name {
    display: none;
  }
  .menu__burger span {
    width: 20px;
    height: 2px;
  }
  .menu__burger span::after {
    top: -5px;
    width: 15px;
    height: 2px;
  }
  .menu__burger span::before {
    top: 5px;
    width: 15px;
    height: 2px;
  }
  .menu__burger {
    margin-top: -3px;
    width: 21px;
    height: 21px;
  }
  .hero__container {
    padding-left: 15px;
    padding-top: calc(6% + 43px);
    padding-bottom: 32px;
  }
  .hero__background {
    left: calc(((100vw - 1166px) / 2.5) + 349px);
    top: calc(19% + 10px);
    width: calc(14% + 299px);
  }
  .hero__background--osc1 {
    left: calc(((100vw - 1166px) / 2.3) + 605px);
    top: calc(149% - 886px);
    width: calc(8% + 55px);
  }
  .hero__background--osc2 {
    left: calc(((100vw - 1166px) / 2.5) + 368px);
    top: calc(147% - 920px);
    width: calc(6% + 60px);
  }
  .hero__background--osc3 {
    left: calc(((100vw - 1166px) / 2.3) + 651px);
    top: calc(61% - 333px);
    width: calc(2% + 32px);
  }
  .hero__background--osc4 {
    left: calc(((100vw - 1166px) / 2.5) + 369px);
    top: calc(41% - 136px);
    width: calc(3% + 18px);
  }
  .hero__text {
    flex-direction: column;
    align-items: center;
  }
  .hero__heading {
    flex-direction: column;
    align-items: center;
    margin-bottom: 457px;
  }
  .hero__title--addition {
    max-width: 65%;
    font-size: 1.8rem;
    text-align: center;
  }
  .hero__definition {
    display: none;
  }
  .hero__btn--sentence {
    margin-left: 0;
    margin-right: 0;
    width: 250px;
    height: 40px;
    font-size: 1rem;
  }
  .hero__present {
    margin-bottom: 20px;
    max-width: 200px;
    font-size: 0.75rem;
    line-height: 11px;
  }
  .hero__btn--portfolio {
    margin-left: 0;
    width: 250px;
    height: 40px;
    font-size: 1rem;
  }
  .h2title {
    font-size: 2.9375rem;
    margin-left: 0;
  }
  .about-us__container {
    padding-top: 41px;
    padding-bottom: 16px;
  }
  .about-us__title-block span {
    font-size: 3.75rem;
    left: 113px;
    top: -15px;
  }
  .about-us__link {
    font-size: 1.25rem;
    margin-bottom: 27px;
    line-height: 28px;
  }
  .about-us__link::before {
    bottom: 5px;
  }
  .about-us__link:hover::before {
    width: 243px;
  }
  .about-us__title {
    margin-bottom: 0;
  }
  .description1 {
    margin-bottom: 0;
  }
  .description2 {
    margin-bottom: 0;
  }
  .about-us__description--right {
    position: relative;
    right: 0;
    width: 100%;
  }
  .about-us__artboard {
    width: 90%;
    height: 90%;
    margin-left: 0;
  }
  .services__title-block span {
    font-size: 3.75rem;
    left: 73px;
  }
  .servicec__link {
    margin-bottom: 7px;
    line-height: 26px;
  }
  .servicec__link::before {
    bottom: 0;
  }
  .servicec__link:hover::before {
    width: 289px;
  }
  .services__title {
    margin-bottom: 5px;
  }
  .servicec__link::after {
    display: none;
  }
  .services__title-block {
    flex-direction: column;
  }
  .services__description {
    margin-bottom: 22px;
    width: 100%;
    font-size: 1.2rem;
  }
  .services__card {
    border-radius: 39px 74px;
    box-shadow: none;
  }
  .services__card:hover {
    background-color: var(--wight);
    color: var(--grey6);
    box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.25);
  }
  .services__card-left {
    background-image: url(/img/grad-left.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 99%;
  }
  .services__card-right {
    background-image: url(/img/grad-right.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 3px 0px;
    background-size: 99%;
  }
  .services__card {
    padding: 26px 11px 27px 27px;
    width: 300px;
    height: 165px;
  }
  .services__card.active-scale {
    transform: scale(1.15);
  }
  .services__cards {
    grid-gap: 11px;
  }
  .card__title {
    font-size: 16px;
  }
  .card__description {
    font-size: 12px;
    line-height: 15px;
  }
  .card__link--block {
    justify-content: space-between;
  }
  .card__link {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .card__link:hover {
    color: var(--wight);
    transition: color 0.3s ease-out;
  }
  .card__link:hover::after {
    opacity: 1;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 0.1px;
    transition: opacity 0.3s ease-out;
  }
  .card__link::before {
    background-color: var(--black);
  }
  .services__card:hover .card__link--block svg {
    fill: #000000;
  }
  .card__link--svg {
    margin-left: -79px;
    margin-right: 0;
  }
  .card__price {
    font-size: 12px;
    line-height: 12px;
  }
  .services__container {
    padding-bottom: 62px;
  }
  .portfolio__container {
    align-items: center;
  }
  .portfolio__title {
    margin-bottom: 9px;
  }
  .portfolio__title--link {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .portfolio__title--link::before {
    bottom: -1px;
  }
  .portfolio__title--link:hover::before {
    width: 182px;
  }
  .portfolio__title--link::after {
    display: none;
  }
  .portfolio__title-block span {
    left: 65px;
    font-size: 3.75rem;
  }
  .portfolio__title-block {
    flex-direction: column;
  }
  .portfolio__description {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  .portfolio__link {
    width: 107px;
    height: 29px;
    font-size: 12px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 0;
  }
  .portfolio__tab {
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 247px;
    grid-row-gap: 20px;
    grid-column-gap: 12px;
  }
  .portfolio__content {
    width: 100%;
  }
  .block-right,
  .block-left {
    flex-direction: column;
    margin-bottom: 28px;
    padding-left: 0;
  }
  .block__foto--wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .block__text--right,
  .block__text--left {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .block__heading {
    margin-left: -15px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .block__title {
    margin-bottom: 7px;
    font-size: 25px;
  }
  .block__sub {
    margin-bottom: 26px;
    font-size: 14px;
  }
  .block__list-title {
    font-size: 14px;
  }
  .block__item:not(:last-child) {
    margin-bottom: 11px;
  }
  .block__item {
    font-size: 12px;
  }
  .block__item::after {
    left: 17px;
  }
  .block__link:hover::before {
    width: 79px;
  }
  .services__card-left {
    border-radius: 32px 63px;
    background-position: 0;
    background-size: 300px 164px;
  }
  .services__card-right {
    background-position: 0;
    background-size: 300px 164px;
    border-radius: 31px 62px;
  }
  .block__list {
    margin-bottom: 31px;
  }
  .block__link {
    font-size: 12px;
  }
  .working__title {
    text-align: center;
    margin-bottom: 4px;
  }
  .working__title-block span {
    left: 42px;
    font-size: 3.75rem;
  }
  .working__description {
    letter-spacing: 0.2px;
    font-size: 1.2rem;
  }
  .working__chat {
    display: none;
  }
  .working__answers {
    padding-top: 14px;
    width: 100%;
  }
  .blog__container {
    padding-top: 31px;
    padding-bottom: 38px;
    align-items: center;
  }
  .blog__title span {
    left: 62px;
    font-size: 3.75rem;
  }
  .blog__description {
    margin-bottom: 19px;
  }
  .blog__content {
    flex-direction: column;
    align-items: center;
  }
  .blog__articles {
    width: 100%;
    margin-right: 0;
  }
  .blog__item {
    max-width: 100%;
    margin-right: 0;
  }
  .articl-item1 {
    margin-bottom: 23px;
  }
  .blog__articl--up {
    width: 100%;
    flex-direction: column;
  }
  .articl__foto--1 {
    width: 100%;
  }
  .articl__title {
    margin-bottom: 16px;
  }
  .articl__description {
    margin-bottom: 3px;
    font-size: 12px;
  }
  .articl__foto--3 {
    min-height: 105px;
    margin-bottom: 10px;
  }
  .top__title {
    font-size: 18px;
    margin-left: 9px;
  }
  .top__title::before {
    left: -1px;
    bottom: 6px;
  }
  .footer__title {
    margin-bottom: 34px;
    font-size: 18px;
    max-width: 225px;
    line-height: 23px;
  }
  .footer__bacg--up {
    padding-bottom: 37px;
    padding-top: 26px;
  }
  .footer__btn {
    width: 188px;
    height: 42px;
    font-size: 14px;
  }
  .footer__mail,
  .footer__tel {
    font-size: 12px;
  }
  .footer__be,
  .footer__li {
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 320px;
  }
  .hero__background {
    left: calc(((100vw - 1166px) / 2.5) + 349px);
    top: calc(19% + 10px);
    width: calc(14% + 260px);
  }
  .hero__background--osc1 {
    left: calc(((100vw - 1166px) / 2.3) + 592px);
    top: calc(149% - 747px);
    width: calc(8% + 50px);
  }
  .hero__background--osc2 {
    left: calc(((100vw - 1166px) / 2.5) + 356px);
    top: calc(147% - 749px);
    width: calc(6% + 51px);
  }
  .hero__background--osc3 {
    left: calc(((100vw - 1166px) / 2.3) + 599px);
    top: calc(61% - 272px);
    width: calc(2% + 32px);
  }
  .hero__background--osc4 {
    left: calc(((100vw - 1166px) / 2.5) + 369px);
    top: calc(41% - 109px);
    width: calc(3% + 18px);
  }
  .hero__title {
    font-size: 1.9rem;
  }
  .hero__heading {
    margin-bottom: 315px;
  }
  .hero__title--addition {
    max-width: 100%;
  }
  .h2title {
    font-size: 3.3rem;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .about-us__title-block span {
    left: 66px;
  }
  .about-us__link:hover::before {
    width: 257px;
  }
  .description1 {
    width: 100%;
  }
  .services__title-block span {
    left: 18px;
  }
  .services__card-right {
    background-size: 100% 164px;
  }
  .portfolio__title-block span {
    left: 61px;
  }
  .working__title-block span {
    left: -3px;
  }
  .working__description {
    width: 100%;
  }
  .accordeon__title {
    font-size: 1.2rem;
  }
  .blog__title span {
    left: 30px;
  }
  .blog__description {
    width: 100%;
  }
  .blog__articl--up {
    margin-bottom: 0;
  }
  .blog__item {
    margin-bottom: 15px;
  }
}
