@media (max-width: 768px) {
	.container {
		max-width: 425px;
	}

	.header__container {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.header__nav {
		display: none;
	}

	.header__language {
		display: none;
	}

	.menu__name {
		display: none;
	}

	.menu__burger span {
		width: 20px;
		height: 2px;
	}

	.menu__burger span::after {
		top: -5px;
		width: 15px;
		height: 2px;
	}

	.menu__burger span::before {
		top: 5px;
		width: 15px;
		height: 2px;
	}

	.menu__burger {
		margin-top: -3px;
		width: 21px;
		height: 21px;
	}

	.hero__container {
		padding-left: 15px;
		padding-top: calc(6% + 43px);
		padding-bottom: 32px;
	}

	.hero__background {
		left: calc(((100vw - 1166px) / 2.5) + 349px);
		top: calc(19% + 10px);
		width: calc(14% + 299px);

	}

	.hero__background--osc1 {
		left: calc(((100vw - 1166px) / 2.3) + 605px);
		top: calc(149% - 886px);
		width: calc(8% + 55px);
	}

	.hero__background--osc2 {
		left: calc(((100vw - 1166px) / 2.5) + 368px);
		top: calc(147% - 920px);
		width: calc(6% + 60px);
	}

	.hero__background--osc3 {
		left: calc(((100vw - 1166px) / 2.3) + 651px);
		top: calc(61% - 333px);
		width: calc(2% + 32px);
	}

	.hero__background--osc4 {
		left: calc(((100vw - 1166px) / 2.5) + 369px);
		top: calc(41% - 136px);
		width: calc(3% + 18px);
	}

	.hero__text {
		flex-direction: column;
		align-items: center;
	}

	.hero__heading {
		flex-direction: column;
		align-items: center;
		margin-bottom: 457px;
	}

	.hero__title--addition {
		max-width: 65%;
		font-size: 1.8rem;
		text-align: center;
	}

	.hero__definition {
		display: none;
	}

	.hero__btn--sentence {
		margin-left: 0;
		margin-right: 0;
		width: 250px;
		height: 40px;
		font-size: 1rem;
	}

	.hero__present {
		margin-bottom: 20px;
		max-width: 200px;
		font-size: rem(12);
		line-height: 11px;
	}

	.hero__btn--portfolio {
		margin-left: 0;
		width: 250px;
		height: 40px;
		font-size: 1rem;
	}

	.h2title {
		font-size: rem(47);
		margin-left: 0;
	}

	.about-us__container {
		padding-top: 41px;
		padding-bottom: 16px;
	}

	.about-us__title-block span {
		font-size: rem(60);
		left: 113px;
		top: -15px;
	}

	.about-us__link {
		font-size: rem(20);
		margin-bottom: 27px;
		line-height: 28px;
	}

	.about-us__link::before {
		bottom: 5px;
	}

	.about-us__link:hover::before {
		width: 243px;
	}

	.about-us__title {
		margin-bottom: 0;
	}

	.description1 {
		margin-bottom: 0;
	}

	.description2 {
		margin-bottom: 0;
	}

	.about-us__description--right {
		position: relative;
		right: 0;
		width: 100%;
	}

	.about-us__artboard {
		width: 90%;
		height: 90%;
		margin-left: 0;
	}

	.services__title-block span {
		font-size: rem(60);
		left: 73px;
	}

	.servicec__link {
		margin-bottom: 7px;
		line-height: 26px;

		&::before {
			bottom: 0;
		}

		&:hover::before {
			width: 289px;
		}
	}

	.services__title {
		margin-bottom: 5px;
	}

	.servicec__link::after {
		display: none;
	}

	.services__title-block {
		flex-direction: column;
	}

	.services__description {
		margin-bottom: 22px;
		width: 100%;
		font-size: 1.2rem;
	}

	.services__card {
		border-radius: 39px 74px;
		box-shadow: none;

		&:hover {
			background-color: var(--wight);
			color: var(--grey6);
			box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.25);
		}
	}

	.services__card-left {
		background-image: url(/img/grad-left.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 99%;

	}

	.services__card-right {
		background-image: url(/img/grad-right.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 3px 0px;
		background-size: 99%;
	}

	.services__card {
		padding: 26px 11px 27px 27px;
		width: 300px;
		height: 165px;
	}

	.services__card.active-scale {
		transform: scale(1.15);
	}

	.services__cards {
		grid-gap: 11px;
	}

	.card__title {
		font-size: 16px;
	}

	.card__description {
		font-size: 12px;
		line-height: 15px;
	}

	.card__link--block {
		justify-content: space-between;
	}

	.card__link {
		font-size: 12px;
		letter-spacing: 0.5px;

		&:hover {
			color: var(--wight);
			transition: color 0.3s ease-out;
		}

		&:hover::after {
			opacity: 1;
			font-size: 12px;
			color: var(--black);
			letter-spacing: 0.1px;
			transition: opacity 0.3s ease-out;
		}

		&::before {
			background-color: var(--black);
		}
	}

	.services__card:hover .card__link--block svg {
		fill: #000000;
	}

	.card__link--svg {
		margin-left: -79px;
		margin-right: 0;
	}

	.card__price {
		font-size: 12px;
		line-height: 12px;
	}

	.services__container {
		padding-bottom: 62px;
	}

	.portfolio__container {
		align-items: center;
	}

	.portfolio__title {
		margin-bottom: 9px;
	}

	.portfolio__title--link {
		margin-right: 0;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 18px;

		&::before {
			bottom: -1px;
		}

		&:hover::before {
			width: 182px;
		}

		&::after {
			display: none;
		}
	}

	.portfolio__title-block span {
		left: 65px;
		font-size: rem(60);
	}

	.portfolio__title-block {
		flex-direction: column;
	}

	.portfolio__description {
		width: 100%;
		margin-bottom: 30px;
		font-size: 1.2rem;
	}

	.portfolio__link {
		width: 107px;
		height: 29px;
		font-size: 12px;
	}

	.portfolio__item:not(:last-child) {
		margin-right: 0;
	}

	.portfolio__tab {
		flex-wrap: wrap;
		margin-bottom: 40px;
		width: 247px;
		grid-row-gap: 20px;
		grid-column-gap: 12px;
	}

	.portfolio__content {
		width: 100%;
	}

	.block-right,
	.block-left {
		flex-direction: column;
		margin-bottom: 28px;
		padding-left: 0;
	}

	.block__foto--wrap {
		width: 100%;
		margin-bottom: 30px;
	}

	.block__text--right,
	.block__text--left {
		width: 100%;
		padding-bottom: 20px;
		padding-left: 15px;
	}

	.block__heading {
		margin-left: -15px;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.block__title {
		margin-bottom: 7px;
		font-size: 25px;
	}

	.block__sub {
		margin-bottom: 26px;
		font-size: 14px;
	}

	.block__list-title {
		font-size: 14px;
	}

	.block__item:not(:last-child) {
		margin-bottom: 11px;
	}

	.block__item {
		font-size: 12px;

		&::after {
			left: 17px;
		}
	}

	.block__link:hover::before {
		width: 79px;
	}

	.services__card-left {
		border-radius: 32px 63px;
		background-position: 0;
		background-size: 300px 164px;
	}

	.services__card-right {
		background-position: 0;
		background-size: 300px 164px;
		border-radius: 31px 62px;
	}

	.block__list {
		margin-bottom: 31px;
	}

	.block__link {
		font-size: 12px;
	}

	.working__title {
		text-align: center;
		margin-bottom: 4px;
	}

	.working__title-block span {
		left: 42px;
		font-size: rem(60);
	}

	.working__description {
		letter-spacing: 0.2px;
		font-size: 1.2rem;
	}

	.working__chat {
		display: none;
	}

	.working__answers {
		padding-top: 14px;
		width: 100%;
	}

	.blog__container {
		padding-top: 31px;
		padding-bottom: 38px;
		align-items: center;
	}

	.blog__title span {
		left: 62px;
		font-size: rem(60);
	}

	.blog__description {
		margin-bottom: 19px;
	}

	.blog__content {
		flex-direction: column;
		align-items: center;
	}

	.blog__articles {
		width: 100%;
		margin-right: 0;
	}

	.blog__item {
		max-width: 100%;
		margin-right: 0;
	}

	.articl-item1 {
		margin-bottom: 23px;
	}

	.blog__articl--up {
		width: 100%;
		flex-direction: column;
	}

	.articl__foto--1 {
		width: 100%;
	}

	.articl__title {
		margin-bottom: 16px;
	}

	.articl__description {
		margin-bottom: 3px;
		font-size: 12px;
	}

	.articl__foto--3 {
		min-height: 105px;
		margin-bottom: 10px;
	}

	.top__title {
		font-size: 18px;
		margin-left: 9px;

		&::before {
			left: -1px;
			bottom: 6px;
		}
	}

	.footer__title {
		margin-bottom: 34px;
		font-size: 18px;
		max-width: 225px;
		line-height: 23px;
	}

	.footer__bacg--up {
		padding-bottom: 37px;
		padding-top: 26px;
	}

	.footer__btn {
		width: 188px;
		height: 42px;
		font-size: 14px;
	}

	.footer__mail,
	.footer__tel {
		font-size: 12px;
	}

	.footer__be,
	.footer__li {
		width: 31px;
		height: 31px;
	}
}
