@font-face {
  src: url("../fonts/GothamProReg.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/Arkhip.woff2") format("woff2");
  font-family: 'Arkhip';
    font-weight: 400;
    font-style: normal;
}