.blog__container {
	padding-top: 50px;
	padding-bottom: 53px;
}

.blog__title {
	@include title;

	span {
		left: -57px;
		top: -17px;
		@include titleSpan;
	}
}

.blog__description {
	margin-bottom: 42px;
	width: 635px;
	font-size: rem(21);
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: var(--grey6);
}

.blog__articles {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	width: 66%;
}

.blog__articl--up {
	margin-bottom: 25px;
}

.blog__item {
	flex-direction: column;
	justify-content: flex-start;
}

.articl__foto--wrap {
	position: relative;
	display: flex;
	margin-bottom: 7px;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	overflow: hidden;
}

.articl-item1 {
	margin-right: 20px;
	max-width: 52%;
}

.articl__foto--1 {
	img {
		width: 445px;
		// height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.articl-item2 {
	max-width: 46%;
}

.articl__foto--2 {
	img {
		width: 395px;
		// height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.articl-item3 {
	max-width: 100%;
}

.articl__foto--3 {
	border-radius: 20px;

	img {
		width: 853px;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.articl__title {
	margin-bottom: 16px;
	font-size: rem(14);
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: var(--grey6);
	transition: color 0.3s ease-in-out;

	&:hover {
		color: var(--red-lite2);
		transition: color 0.3s ease-in-out;
	}
}

.articl__description {
	margin-bottom: 3px;
	font-size: rem(14);
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--grey6);
	font-weight: 400;
	text-transform: none;
}

.articl__counter--block {
	align-items: center;
}

.articl__eye {
	display: inline-block;
	margin-right: 6px;
}

.articl__counter {
	position: relative;
	font-size: rem(12);
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: var(--grey6);
}

.top__title {
	position: relative;
	margin-bottom: 11px;
	margin-top: -5px;
	font-size: rem(24);
	line-height: 51px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--grey6);

	&::before {
		content: "";
		position: absolute;
		left: 42px;
		bottom: 0;
		width: 241px;
		height: 3px;
		background-color: var(--black);

	}
}

.top__list {
	margin-left: 46px;
	max-width: 290px;
}

.top__item {
	position: relative;
	font-size: rem(14);
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.4px;
	color: var(--grey6);
	transition: color 0.3s ease-in-out;

	&:not(:last-child) {
		margin-bottom: rem(35);
	}

	&::after {
		content: "1";
		position: absolute;
		left: -43px;
		top: -20px;
		font-size: rem(48);
		line-height: 80px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		color: var(--grey6);
	}
}

.top__item--2::after {
	content: "2";
}

.top__item--3::after {
	content: "3";
}

.top__item--4::after {
	content: "4";
}

.top__item--5::after {
	content: "5";
}

.top__item--6::after {
	content: "6";
}

.top__item--7::after {
	content: "7";
}

.top__item--8::after {
	content: "8";
}

.top__link {
	transition: color 0.3s ease-in-out;
}

.top__link:hover {
	color: var(--red-lite2);
	transition: color 0.3s ease-in-out;
}
